<div class="dropdown is-hoverable">
    <a class="header__link dropdown-trigger">
      Clubs
    </a>
    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
          {% for item in site.SIGS %}
          <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
            <span itemprop="name">{{ item.name }}</span>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
</div>